{% extends 'base.html' %}
{% block div %}
<div class="container">
    <div class="row">
        <div class="col-lg-12 text-left">
            <p>
              This project began as a conduit for me to explore some of the works on my musical bucket list and over the course of a few days developed into a project for me to tinker with web automation.
              Somewhere on the back end the app randomly selects one of the 24 major and minor scales and assigns it for the day. If there is a piece from my bucket list with that corresponding key, the app returns a randomly selected piece, along with another randomly generated scale. If there is no piece with that key, you don't leave sad because you get a cat video.<br><br>

              Feel free to suggest improvements, pieces, podcasts, etc.<br><br>

              Thanks,<br>
              Eugene
            </p>
        </div>
    </div>
</div>
{% endblock %}
